<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
      <div class="portadaConcurso">
          <img src="/images/branca.jpg" alt="">
          <div class="banner">
              <h1>Busca el concurso, inscribite, y listo!</h1>
          </div>
      </div>
      <div class="concursosContainer row">
          <div class="">
            <img src="/images/logo.jpg" alt="">
            <h1>Nombre del Club</h1>
            <h2>Nombre del Concurso</h2>
            <h3>12 de Marzo al 15 de Marzo</h3>
            <a href="/concurso/1/detail">Mira las pruebas disponibles!</a>
          </div>
          <div class="">
            <img src="/images/logo.jpg" alt="">
            <h1>Nombre del Club</h1>
            <h2>Nombre del Concurso</h2>
            <h3>12 de Marzo al 15 de Marzo</h3>
            <a href="">Mira las pruebas disponibles!</a>
          </div>
          <div class="">
            <img src="/images/logo.jpg" alt="">
            <h1>Nombre del Club</h1>
            <h2>Nombre del Concurso</h2>
            <h3>12 de Marzo al 15 de Marzo</h3>
            <a href="">Mira las pruebas disponibles!</a>
          </div>
          <div class="">
            <img src="/images/logo.jpg" alt="">
            <h1>Nombre del Club</h1>
            <h2>Nombre del Concurso</h2>
            <h3>12 de Marzo al 15 de Marzo</h3>
            <a href="">Mira las pruebas disponibles!</a>
          </div>
      </div>
      <%- include('./partials/scripts') %>

      </body>