<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <div class="bigCont">
        <div class="dataContainer" >
            <h1>Hola, Julia</h1>
            <h3>Datos Personales</h3>
            <h4>Julia Cordero</h4>
            <h4>julia@gmail.com</h4>
            <h4>1165363144</h4>
            <button><a href="/user/2/edit">Editar Datos</a></button>
        </div>
    </div>
    <%- include('./partials/scripts') %>
</body>