<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
      <div class="infoConcurso">
          <h1>Nombre del concurso</h1>
          <h2>Club que lo hospeda</h2>
          <h3>16 de Marzo al 18 de Marzo</h3>
          <h4>Altura:120</h4>
          <h4>Definicion: 2F</h4>
          <h4>Numero: 3</h4>
      </div>
      <div class="pruebasContainer">
      <div class="tableContainer">
          <table>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Caballo</th>
                <th>Categoria</th>
                <th>Club</th>
                <th>Pais</th>

            </tr>
            <tr>
                <td>1</td>
                <td>Julia</td>
                <td>Cordero</td>
                <td>Branca</td>
                <td>2nda</td>
                <td>CHA</td>
                <td>ARG</td>
            </tr>
          </table>
      </div>
    </div>
      <%- include('./partials/scripts') %>
      </body>