<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
      <h1 class="pruebaTitle">Edición de Prueba</h1>
      <div class="formContainer">
        <form action="">
            <label for="day">Dia</label>
            <input type="text" name="day">
            <label for="hour">Hora</label>
            <input type="text" name="hour">
            <label for="number">Numero</label>
            <input type="text" name="number">
            <label for="type">Tipo</label>
            <input type="text" name="type">
            <label for="article">Articulo</label>
            <input type="text" name="article">
            <label for="height">Altura</label>
            <input type="text" name="height">
            <label for="definition">Definicion</label>
            <input type="text" name="definition">
            <label for="category">Categoria</label>
            <input type="text" name="category">
            <label for="price">Valor</label>
            <input type="text" name="price">
            <button type="submit">Crear</button>
        </form>
      </div>
      <%- include('./partials/scripts') %>
      </body>