<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
    <div class="portraitContainer">
        <img src="/images/branca3.jpg" alt="">
        <div class="intro">
            <h1>Gestioná tus inscripciones. Fácil, rápido, seguro.</h1>
        </div>
    </div>
    <div class="forContainer">
        <div class="equs for">
            <a href="/user/login">Para organizaciones hipicas</a>
        </div>
        <div class="rider for">
            <a href="/user/login">Para jinetes y amazonas</a>
        </div>
    </div>
    <%- include('./partials/scripts') %></body>
</html>