<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
    <div class="portraitContainer">
        <img src="/images/branca3.jpg" alt="">
        <div class="intro">
            <h1>Gestion치 tus inscripciones. F치cil, r치pido, seguro.</h1>
        </div>
    </div>
    <h1 class="pruebaTitle">Pr칩ximos concursos...</h1>
    <div class="concursosContainer row">
        <div class="">
          <img src="/images/logo.jpg" alt="">
          <h1>Nombre del Club</h1>
          <h2>Nombre del Concurso</h2>
          <h3>12 de Marzo al 15 de Marzo</h3>
          <a href="/concurso/1/detail">Mira las pruebas disponibles!</a>
        </div>
        <div class="">
          <img src="/images/logo.jpg" alt="">
          <h1>Nombre del Club</h1>
          <h2>Nombre del Concurso</h2>
          <h3>12 de Marzo al 15 de Marzo</h3>
          <a href="">Mira las pruebas disponibles!</a>
        </div>
        <div class="">
          <img src="/images/logo.jpg" alt="">
          <h1>Nombre del Club</h1>
          <h2>Nombre del Concurso</h2>
          <h3>12 de Marzo al 15 de Marzo</h3>
          <a href="">Mira las pruebas disponibles!</a>
        </div>
        <div class="">
          <img src="/images/logo.jpg" alt="">
          <h1>Nombre del Club</h1>
          <h2>Nombre del Concurso</h2>
          <h3>12 de Marzo al 15 de Marzo</h3>
          <a href="">Mira las pruebas disponibles!</a>
        </div>
        <a style="text-align: center; margin-bottom: 50px; font-size: 20px; color: black;" href="/concurso" class="col-12" >Ver todos los concursos disponibles</a>
     </div>   
    <%- include('./partials/scripts') %></body>
</html>