<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
      <h1 class="pruebaTitle" style="margin-bottom: 40px
      ;">Inscripciones a pagar</h1>
      <div class="payContainer">
          <div class="pay">
            <h2>Nombre del Concurso</h2>
            <h3>Hipico que lo hospeda</h3>
            <div class="payCourse">
                <h4>Numero de Prueba</h4>
                <h5>Monto:$$$$</h5>
            </div>
            <div class="payCourse">
                <h4>Numero de Prueba</h4>
                <h5>Monto:$$$$</h5>
            </div>
            <div class="payCourse">
                <h4>Numero de Prueba</h4>
                <h5>Monto:$$$$</h5>
            </div>
            <h4 style="border-top: 1px solid black; margin-top: 20px;">Total:$$$$</h4>
            <button><a href="">Pagar</a></button>
          </div>
      </div>
      <%- include('./partials/scripts') %>
      </body>