<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %> 
<body>
  <%- include('./partials/header') %> 
  <h1 class="pruebaTitle animate__animated animate__fadeInDown animate__slow">Registarse</h1>

      <div class="formContainer">
          <form action="/user/register" method="POST">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre">
              <label for="apellido">Apellido</label>
              <input type="text" name="apellido">
              <label for="telefono">Telefono</label>
              <input type="tel" name="telefono">
              <label for="email">Email</label>
              <input type="email" name="email" id="">
              <label for="contrasena">Contraseña</label>
              <input type="password" name="contrasena">
              <p>¿Ya tenes cuenta? <a href="/user/login">Inicia sesión acá</a></p> 
              <button type="submit">Registrame :)</button>
          </form>
      </div>
      <%- include('./partials/scripts') %>
      </body>